@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500;600&family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blob-animation {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

@layer base {
  *{
    @apply box-border m-0 p-0;
  }

  body{
    @apply bg-[#f8f8f8] min-h-screen font-poppins font-medium text-lg text-dblue;
  }
  p{
    color: #767676
  }
  h2{
    @apply text-lblue uppercase text-[17px] font-bold mb-3;
  }
  h3{
    @apply text-2xl font-bold capitalize;
  }
  h4{
    @apply font-bold uppercase;
  }
  
  .skills img{
    @apply max-w-[34px] ;
  }
  .skills ul{
    @apply flex lg:inline-flex flex-wrap justify-center gap-6;
  }
  .skills li {
    @apply bg-white rounded-full shadow-pr p-4 inline-flex;
  }
  .about{
    @apply py-20 bg-white;
  }
  .portfolio{
    @apply mx-5 md:mx-10;
  }
  .portfolio ul{
    @apply flex flex-wrap justify-center gap-4;
  }
  .portfolio li{
    @apply px-3 py-2 shadow-md;
  }
  .project{
    @apply p-5 bg-white rounded-2xl shadow-pr text-center flex flex-col gap-7;
  }
  .container-d{
    @apply lg:max-w-5xl lg:px-10 lg:mx-auto;
  }
  .img-cont{
    @apply relative h-96 overflow-hidden rounded-2xl ;
  }
}
@layer components{
  .hero-pic{
    @apply relative h-72 w-72 overflow-hidden border-solid border-[3px] border-dblue ;
    animation: blob-animation 8s infinite alternate ease-in-out;

  }
  .proj-list > div:nth-child(even) .img-cont{
    order: 1;
  }
  .inline-on li{
    @apply inline-block;
  }
  .tech-txt{
    @apply border-0 border-[#2d2e3280] pb-2 px-1 mb-8 border-b-2 inline-block font-mulish font-semibold lg:border-b-0 lg:m-0 lg:pr-7 lg:py-1 lg:border-r-2 lg:border-dblue lg:mr-16 ;
  }
  .shadow-pr{
    box-shadow: 0px 0px 10px rgb(0, 0, 0, .1);
  }
  .nav{
    @apply fixed top-0 h-screen bg-white z-50 w-screen transition-all ease-in-out duration-300;
  }
  .logo{
    @apply text-xl font-bold;
  }
  .img-icon{
    @apply max-w-[30px] ;
  }
}
